<tbody class="m-datatable__head td__table__body">
    <tr *ngFor="let dataInput of datas; let i = index"
        class="td__table__tr td__table__tr__{{ i }} m-datatable__row"
        data-row="1"
        (click)="clickTd($event)"
        (dblclick)="doubleClickTd($event, getId(dataInput))">


        <ng-container *ngFor="let dataRow of dataInput">
            <td  *ngIf="dataRow.isShow && dataRow.label === 'check'" class="td__table__check td__table__td check m-datatable__cell--center m-datatable__cell m-datatable__cell--check check" data-field="RecordID">
                <span>
                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand m__0">
                        <input type="checkbox" #selectorCheckbox value="3" (click)="onAddOrRemove(getId(dataInput['data']))">
                        <span></span>
                    </label>
                </span>
            </td>

            <td *ngIf="dataRow.isShow && dataRow.label !== 'check' && dataRow.label !== 'action'" class="td__table__td {{ dataRow.class }}">
                <span *ngIf="!isStatus(dataRow.label)"class="td__table__span">
                    <ng-container *ngIf="!dataRow.translation">{{ dataRow.value}}</ng-container>
                    <ng-container *ngIf="dataRow.translation">{{ dataRow.value | translate}}</ng-container>
                </span>

                <span *ngIf="isStatus(dataRow.label)" >
                        <span class="m-badge m-badge--brand m-badge--wide status-{{ dataRow.value }}">{{dataRow.label + '_' + dataRow.value | translate}}</span>
                </span>
            </td>

            <td  *ngIf="dataRow.isShow && dataRow.label === 'action'" class="m-datatable__cell m-datatable__cell--sort actions" data-field="Actions">
                <span style="overflow: visible;">
                    <a class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:;" title="Editer" (click)="onEdit(getId(dataInput))">
                        <i class="la la-edit"></i>
                    </a>
                    <a class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" href="javascript:;" title="Mettre à la corbeille" (click)="onTrash(getId(dataInput))">
                        <i class="la la-trash"></i>
                    </a>
                </span>
            </td>

        </ng-container>


    </tr>
</tbody>
