.td__table__body {
  visibility: visible;
  display: block;
}
.td__table__tr {
  display: table;
  table-layout: initial;
  width: 100%;

}
.td__table__td {
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  padding: 0.5rem !important;
  font-size: 0.9rem !important;
  border-top: 1px solid #f4f5f8;
}
.td__table__check {
  padding-left: 10px !important;
  max-width: 50px;
  width: 50px;
  vertical-align: middle;
}

.td__table__span{
  color: #575962;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m__0 {
  margin: 0;
}