<input type="password" class="form-control {{structure['input_classes']}}" id="{{structure['label']}}" placeholder="{{structure['placeholder'] | translate}}" [(ngModel)]="model">
<small *ngIf="structure['config']['hasHelp']" id="{{structure['label']}}Help" class="form-text text-muted">{{structure['help'] | translate}}</small>
<small class="text-danger" *ngIf="error && error['required']">
  {{'required-error' | translate}}
</small>
<small class="text-danger" *ngIf="serverError">
  {{serverError | translate}}
</small>
