<div>
    <table>
        <app-th-table class=""
            [headers]="headers"
            (HandlerOrder)="onOrder($event)"
            (HandlerCheckOrDischeckAllSelected)="onCheckOrDischeckAllSelected($event)"></app-th-table>

        <app-td-table
            [datas]="datas"
            (HandlerClickTd)="clickTd($event)"
            (HandlerDoubleClickTd)="doubleClickTd($event)"
            (HandlerAddOrRemove)="onAddOrRemove($event)"
            (Edit)="onEdit($event)"
            (Trash)="onTrash($event)"></app-td-table>
    </table>

    <div
        *ngIf="paginations"
        class="m-datatable__pager table table-sm m-datatable--paging-loaded clearfix">
        <ul class="m-datatable__pager-nav">
            <pagination-controls
                previousLabel="{{'Previous' | translate}}"
                nextLabel="{{'Next' | translate}}"
                (pageChange)="listPaginate($event)"></pagination-controls>
        </ul>
        <div class="m-datatable__pager-info">
            <small>{{ totalPage }} {{ 'Total' | translate}}</small>
        </div>
    </div>

</div>
