<p>
  <app-project-table
    [tableOptions]="{
      autoload: true,
      withPagination: true,
      paginationItemsPerPage: 20,
      localStorageKey: 'project-table',
      hasActionColumn: false,
      hasCheckboxColumn: true
    }"
    (create)="create()"
    (edit)="edit($event)"
    (delete)="delete($event)"></app-project-table>
</p>

<app-project-form-modal (success)="updateTable()"></app-project-form-modal>
<app-action-confirmation-modal (confirmEmitter)="confirmDelete()" [message]="'are you sure?'" [modal_id]="'project_confirm_action_modal'"></app-action-confirmation-modal>
