.th__table__thead {
  visibility: visible;
  display: block;
}

.th__table__tr {
  display: table;
  table-layout: initial;
  width: 100%;
  cursor:pointer;
}

.th__table__th {
  font-weight: 600;
  vertical-align: middle;
  background: #f4f3f8;
  padding: 0.8rem 0.5rem !important;
  font-size: 0.9rem !important;
  border: 0 !important;
}

/*
.th__table__check {
  padding-left: 10px !important;
  max-width: 50px;
  vertical-align: middle;
  width: 35px!important;
  max-width: 25px!important;
}
*/
.th__table__span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #575962;
}

.th__table__icon {
  color: #FF5733;
  display: inline-block;
  position: relative;
  right: -10px;
  line-height: 0;
  vertical-align: middle;
  font-size: 1.1rem;
}
.m__0 {
  margin: 0;
}