.mr__10p {
  margin-right: 10px;
}
.mr__10p:last-child {
  margin-right: 0;
}
.mb_15p {
  margin-bottom: 15px;
}

.flex__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Element__mr {
  margin-right: 10px;
}

.Element__mr:last-child {
  margin-right: 0;
}

.container__header__table {
  justify-content: space-between;
  padding: 0 1rem;
}
.header__table__title {
  color: #212529;
}
.container__filter {
  margin-right: 10px;
}