<div class="container__header__table flex__row mb_15p">
  <div class="col-2">
    <h3 class="header__table__title" >{{ data.title | translate }}</h3>
  </div>
  <div class="col-7">
    <div class="container__btn__search flex__row">
      <div *ngIf="data.filters.length > 0" class="container__filter flex__row">
        <ng-container *ngFor="let item of data.filters">
          <ng-template appFilters></ng-template>
        </ng-container>
      </div>


      <div *ngIf="data.search.show" class="container__search flex__row">
        <div class="m-input-icon m-input-icon--left mr__10p Element__mr">
          <input type="text" id="header__search__{{ data.search.idText }}" placeholder="{{ data.search.placeholder | translate }}" (change)="enterSearch($event)">
          <span class="m-input-icon__icon m-input-icon__icon--left">
                        <span >
                            <i class="{{ data.search.icon }}"></i>
                        </span>
                    </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div *ngIf="data.btns.length > 0" class="container__btn flex__row">
      <ng-container *ngFor="let item of data.btns">
        <a *ngIf="item.show" id="header__btn__{{ item.label }}" class="btn btn-sm btn-secondary m-btn m-btn--custom m-btn--icon Element__mr" data-target="#m_modal_create-organisation" data-toggle="modal" style="cursor: pointer" (click)="clickHeaderBtn($event)">
                <span>
                    <i class="{{ item.icon }}"></i>
                    <span>{{ item.value | translate }}</span>
                </span>
        </a>
      </ng-container>
    </div>
  </div>
</div>
